// Colores

$white:#fff;
$isabelline: #ececec;
$ligthgray: #d1d1d1;

$smokyblack: #0c0910;
$granitegray: #646266;
$quicksilver: #a6a5a8;

// tipografia

$OldStandar: 'Old Standard TT', serif;
$Raleway: 'Raleway', sans-serif;


// Pesos
$bold:700;
$regular:400;

// Tamaños

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


$btnChico:8px 24px;
$btnMd:12px 24px;
