.imagen {
  z-index: 0;
  background: url("../img/large2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 30%;
  background-position: 10% 25%;
  position: relative;
  top: 90px;

}

@media (min-width: 576px) {
  .imagen {
    z-index: 0;
    background: url("../img/large2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 30%;
    background-position: 10% 25%;
    position: relative;
    top: 90px;
  }
}


  @media (min-width: 768px) {
    .imagen {
      z-index: 0;
      background: url("../img/large2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
      height: 35%;
      background-position: 10% 40%;
      position: relative;
      top: 90px;    }
    }
  
    @media (min-width: 992px) {
      .imagen {
        z-index: -1;
        background: url("../img/large2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        width: 60%;
        height: 60%;
        background-position: 10% 30%;
        position: relative;
        top: 90px;   
        float: right;
   
      }
    }
  @media (min-width: 1200px) {
    .imagen {
      z-index: -1;
      background: url("../img/large2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
      width: 60%;
      height: 60%;
      background-position: 10% 30%;
      position: relative;
      top: 90px;   
      float: right;
     }
    }